$field-border: $celeste;
$field-placeholder: $iron;
$legend-size: $t-deadpool;

.field {
  display: flex;
  border: 1px solid $field-border;
  border-radius: $radius;
  background-color: $white;
  color: $onlight-color;
  margin-bottom: $baseline/2;
  overflow: hidden; // For background colour applied by browser autofill

  > .field-input {
    @include height(1rem, 46px); // 48px but we have a 1px border on the parent
    border: 0;
    flex-grow: 1;
    background: none;
    padding-left: $baseline/2;
  }

  > label {
    @include height(13px, 46px); // 48px but we have a 1px border on the parent
    padding-left: $baseline/2;
    width: 30%;
    font-weight: bold;
  }
}

.field-input::placeholder {
  color: $field-placeholder;
}

.field-btn {
  display: flex;
  white-space: nowrap;
  margin: $baseline/4;
  width: $baseline*3;
}

.field.-int {
  width: $baseline*2;
  text-align: center;
}

.fieldset > .field {
  margin-bottom: 0;
}

.legend {
  font-weight: bold;
  @include height($legend-size, 24px);
  margin-bottom: 0;

  + p {
    margin-top: 0;
  }
}

// Check boxes
.checkbox {
  display: block;
  position: relative;
  padding-left: $baseline;
  margin-bottom: $baseline/2;
}

.checkbox > input {
  @include vcenter;
  left: 0;
}
